/* crew control panel css stylesheet */
.crewTable
{
	overflow-y: auto;
	width:500px; 
}

.crewTable thead
{
	font-size: 16px;
}

.flightTable
{
	overflow-y: auto;	
	width:510px; 
}

.flightTable td
{
	width: 5%;
}

.flightTable th
{
	white-space: nowrap;
}

.flightTable thead
{
	font-size: 16px;
}

.playbackControlPanel
{
	height:275px; 
	width:350px; 
	overflow-y: auto;
}

@media all and (max-width: 699px) and (min-width: 520px) {
    td{
        width:100%;
    }
    #firstItem{
        display:block;
    }
    #responsiveItem{
        float:left;
    }
}
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-default .navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  color: white;
  font-size: 22px;
}

#airportsButton
{
  padding-left: 3.5px;
}

