/* crew control panel css stylesheet */

.table {
    width: 500px;
    padding: 0 20px;
}

.crewTable
{
	height: 300px; 
	width:  520px; 
	overflow-y: auto;
}

.crewTable thead th
{
	background-color: #C9C9C9;
    border-radius:6px;
    -moz-border-radius:6px;
}


.flightTable
{
	height: 300px; 
	width:  520px; 
	overflow-y: auto;
}

.flightTable thead th
{
	background-color: #C9C9C9;
	border-radius:6px;
    -moz-border-radius:6px;
}


.playbackControlPanel
{
	height:275px; 
	width:350px; 
	overflow-y: auto;
}

body.ng-scope
{
	font-size: 12px; 
}