/* flight playback panel spreadsheet */
.playbackMenu
{
  width:400px; 
  float:left;
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.angular-google-map-container 
{
  height: 100vh;
  border: 1px solid;
  border-color: #C9C9C9;
}

#playbackOptions
{
  font-size: 20px;
  font-style: bold;
  font-weight: bold;
  margin-bottom: 2px;
}

#playbackSpeed
{
  font-style: bold;
  font-size: 16px;
}

#playbackForm
{
  
}