/* map page css stylesheet */

.mapMenu{
	width:500px; 
	float:left;
	background-color: white;
	margin-left: 5px;
	margin-right: 5px;
}

.angular-google-map-container 
{
  height: 100vh;
  border: 1px solid;
  border-color: #C9C9C9;
}
