/* map page css stylesheet */

.mapMenu{
	
	width:500px; 
	float:left;
	background-color: white;
}

.theMap
{
}

.angular-google-map-container 
{
  height: 100vh;
  border: 1px solid;
  border-color: #C9C9C9;
}
