<div class = "container-fluid">	

	<div class="mapMenu">

							<!-- FLIGHT LIST TABLE -->
							<div class="flightTable">
					       	<table id="flightControl" class="table table-striped table-hover">
					       		<thead>
					       		  <tr><th colspan="6">Flights departing from: {{currAirport}}</th></tr>
					       		  <tr>
										<td id='firstItem' width="70%">Status</td>
									 	<td>ID</td> 
									 	<td>Dest</td>
									 	<td>STD</td>
									 	<td>PDT</td>
									 	<td>Delay</td>
								  </tr>
					       		  </thead>
					       		  <tbody id="flightControlBody">
					       		  	  <tr ng-repeat="flight in localFlights | startFrom:currentPage*pageSize | limitTo:pageSize"
						       		  ng-show="flight" ng-click="populateCrewTable(flight)">
							              <td> <img src="img/{{flight.delayStatus}}.svg"/> </td>
							              <td>{{flight.flightId}}&nbsp;</td>
							              <td>{{flight.arrivalAirport}}&nbsp;</td>
							              <td nowrap="nowrap">{{flight.departureTime}}&nbsp;</td>
							              <td nowrap="nowrap">{{flight.flightPTD}}&nbsp;</td>
							              <td style="color:{{delayColor(flight)}}">{{flight.flightDelay}}&nbsp;</td>
							          </tr>
							       </tbody>   
							       <tfoot>
							           
							          <tr>
							          	<th colspan="6">
		  									<button type="button" class="btn btn-info btn-xs" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
		        								Previous
										    </button> 
											   {{currentPage+1}}/{{numberOfPages()}} 
										    <button type="button" class="btn btn-info btn-xs" ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">
											    Next
										    </button>
										</th>
							          </tr>
							       </tfoot>
					       	</table>
					       	
					       	</div>	
					       	<br>
					       	<br>
					
					       	<!-- CREW CONTROL TABLE -->
					       	<div class= "crewTable">
                            <table id="crewControl" class="table table-striped table-hover">
						          <thead>
						          	<tr><th colspan="6">Crew information for flight: {{selectedFlights}}</th></tr>
						            <tr>
										<td>Status</td>
									 	<td>ID</td> 
									 	<td>ETA</td>
									 	<td>Distance</td>
									 	<td nowrap="nowrap">FAR-117</td>
									 	<td nowrap="nowrap">Delay</td>
								    </tr>
						          </thead>
						          <tbody id="crewControlBody">
						            <tr ng-repeat="crew in crewData | startFrom:currentPageCrew*pageSize | limitTo:pageSize | orderBy:['crewFlightId']" 
						            ng-click="crewTableClick(crew)" ng-show="crew">
							              <td> <img src="img/{{crew.delayStatus}}.svg"/></td>
							              <td>{{crew.id}}&nbsp;</td>
							              <td>{{crew.newETA}}&nbsp;</td>   
							              <td>{{crew.distanceToDest}}&nbsp;</td>
							              <td>{{crew.far}}&nbsp;</td>
							              <td>{{toHM(crew.eta)}}&nbsp;</td>
							          </tr>
							       </tbody>  
							         <tfoot>
								         <tr>  
									         <th colspan="6">   
									              <button type="button" class="btn btn-info btn-xs" ng-disabled="currentPageCrew == 0" ng-click="currentPageCrew=currentPageCrew-1">
				        						  	  Previous
											      </button>
												  	  {{currentPageCrew+1}}/{{numberOfPagesCrew()}}
												  <button type="button" class="btn btn-info btn-xs" ng-disabled="currentPageCrew >= crewData.length/pageSize - 1" ng-click="currentPageCrew=currentPageCrew+1">
												  	   Next
												  </button> 
												  <br>
												  <br>
												  <button id="airportsButton" type="button" class="btn btn-primary btn-info btn-xs" ng-click="toggleAirportVisibility()">Show/Hide Airports</button>
										  	 </th>
							              </tr>
						          	  </tfoot>
						        </table>
						    </div>
						   
	</div>
	<!-- Noam's Sidebar -->
<!-- 	<div class = "span2">
		<div class="mapMenu">
			<b>Crew Members</b>
			<br>
			<br> search: 
			<input ng-model="query.id" sytle="width:39px">
			<br>
			<br> Sort by: 
			<select ng-model="orderProp">
	        	<option value="id">name</option>
	        	<option value="eta">closest</option>
	     	</select>
			<br> 
			<br>
			<table style="width:20em">
				<tr>
					<b>
						<td style="width:10em">ID</td>
					 	<td>Eta</td> 
					 	<td>Time of Update</td>
					 </b>
				</tr>
				<tr ng-repeat="i in crewMembers | makeArray | filter:query | orderBy:orderProp" ng-click="crewTableClick(i)" style="color:{{lateColor(i)}}">
					<td style="width:10em">{{i.id}}</td>
				 	<td style="width:5em">{{toHMS(i.eta)}}</td> 
				 	<td style="width:10em">{{i.time | date : short}}</td>
				</tr>
			</table>
			<br>
			<b style="">Estimated time until crew is ready: {{maxEta()}}</b>
		</div >
	</div>	 -->

	<!-- Body -->
		<div class="theMap">
			<google-map 
			center="map.center" 
			zoom="map.zoom" 
			draggable="true" 
		    dragging="map.dragging" 
		    bounds="map.bounds" 
		    events="map.events" 
		    options="map.options" 
		    pan="true" 
		    control="map.control"   
			>
			<!--markers models="map.dynamicMarkers" coords="'self'" icon="'icon'" ng-cloak></markers-->
			</google-map>
		</div>
	

</div>






