
<div class = "container-fluid">	
<link rel="stylesheet" href="css/map.css"/>
<div class = "row-fluid">

	<div class = "span2">
	<div class="mapMenu">
	<button type="button" ng-click="toggleAirportVisibility()">Show/Hide Airports</button>
	<br>
	<br>
							<!-- FLIGHT LIST TABLE -->
							<div class = "flightTable" style = "height:275px; width:400px; overflow-y: scroll;">
					       	<table id="flightControl">
					       		<thead>
					       		  <tr><th colspan="6">Flights Departing From {{currAirport}}</th></tr>
					       		  <tr>
										<td style="width:60em">Status</td>
									 	<td style="width:60em">ID</td> 
									 	<td style="width:60em">Dest</td>
									 	<td style="width:400em">STD</td>
									 	<td style="width:400em">PDT</td>
									 	<td style="width:60em">Delay</td>
								  </tr>
					       		  </thead>
					       		  <tbody id="flightControlBody">
					       		  	<!--<tr ng-repeat="flight in data | startFrom:currentPage*pageSize | limitTo:pageSize" -->
					       		  		<tr ng-repeat="flight in localFlights | startFrom:currentPage*pageSize | limitTo:pageSize"
						       		  style="color:{{delayColor(flight)}}"
						       		  ng-show="flight" ng-click="populateCrewTable(flight)">
							              <td> <img src="img/{{flight.delayStatus}}.png"/> </td>
							              <td>{{flight.flightId}}&nbsp;</td>
							              <td>{{flight.arrivalAirport}}&nbsp;</td>
							              <td>{{flight.departureTime}}&nbsp;</td>
							              <td>{{flight.flightPTD}}&nbsp;</td>
							              <td>{{flight.flightDelay}}&nbsp;</td>
							          <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
        								Previous
									  </button>
									    {{currentPage+1}}/{{numberOfPages()}}
									  <button ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">
									    Next
									  </button>
							          </tr>
						       	 </tbody>
					       	</table>
					       	</div>	
					       	<br>
					       	<br>
 							<!-- CREW CONTROL TABLE -->
						        <table id="crewControl" class="table">
						          <thead>
						          	<tr> 
						          		<div class="crewControlMenu">
						          			<b>Crew information for flight: {{selectedFlights}}
								      	</div>
								    <!--   	  	Value Selected is: {{selectedFlights}} -->
							        </tr>
						            <tr>
										<td style="width:60em">Status</td>
									 	<td style="width:60em">ID</td> 
									 	<td style="width:60em">Delay</td>
									 	<td style="width:400em">Distance</td>
									 	<td style="width:400em">FAR-117</td>
									 	<td style="width:400em">Flight ID</td>
								    </tr>
						          </thead>
						          <tbody id="crewControlBody">
						            <tr ng-repeat="crew in specificCrew | makeArray | orderBy:['crewFlightId']">
						              <td> <img src="img/{{crew.delayStatus}}.png"/></td>
						              <td>{{crew.id}}&nbsp;</td>
						              <td>{{toHMS(crew.eta)}}&nbsp;</td>   <!-- crew delay = crew.eta -->
						              <td>{{crew.distanceToDest}}&nbsp;</td>
						              <td>{{crew.far}}&nbsp;</td>
						              <td>{{crew.crewFlightId}}&nbsp;</td>
						            </tr>
						          </tbody>
						        </table>
	</div>
	</div>
	<!-- Noam's Sidebar -->
<!-- 	<div class = "span2">
		<div class="mapMenu">
			<b>Crew Members</b>
			<br>
			<br> search: 
			<input ng-model="query.id" sytle="width:39px">
			<br>
			<br> Sort by: 
			<select ng-model="orderProp">
	        	<option value="id">name</option>
	        	<option value="eta">closest</option>
	     	</select>
			<br> 
			<br>
			<table style="width:20em">
				<tr>
					<b>
						<td style="width:10em">ID</td>
					 	<td>Eta</td> 
					 	<td>Time of Update</td>
					 </b>
				</tr>
				<tr ng-repeat="i in crewMembers | makeArray | filter:query | orderBy:orderProp" ng-click="crewTableClick(i)" style="color:{{lateColor(i)}}">
					<td style="width:10em">{{i.id}}</td>
				 	<td style="width:5em">{{toHMS(i.eta)}}</td> 
				 	<td style="width:10em">{{i.time | date : short}}</td>
				</tr>
			</table>
			<br>
			<b style="">Estimated time until crew is ready: {{maxEta()}}</b>
		</div >
	</div>	 -->

	<!-- Body -->
	<div class="span10">
		<div class="theMap">
			<google-map 
			center="map.center" 
			zoom="map.zoom" 
			draggable="true" 
		    dragging="map.dragging" 
		    bounds="map.bounds" 
		    events="map.events" 
		    options="map.options" 
		    pan="true" 
		    control="map.control"   
			>
			<!--markers models="map.dynamicMarkers" coords="'self'" icon="'icon'" ng-cloak></markers-->
			</google-map>
		</div>
	</div>	
	
    <footer></footer>

</div>
</div>






